/* Soluzione qui */

/* media for desktop 992px */
@media screen and (max-width: 992px) {
    .container {
        max-width: 80%;
    }

    #logo {
        font-size: 1em;
    }

    #topbar {
        height: 25px;
        display: block;
    }
}

/* media for tablet 768px*/

@media screen and (max-width: 768px) {
    #topbar {
        height: 48px;
    }

    #logo {
        font-size: 2em;
    }

    .container {
        max-width: 95%;
    }

    .presentation img {
        float: left;
        width: 41%;
        margin-right: 20px;
        margin-bottom: 5x;
    }

}

/* media for mobile 480px*/

@media screen and (max-width: 480px) {
    #topbar {
        height: 48px;
        display: flex;
    }

    .ads {
        display: none;
    }

     .presentation img {
        margin: 0 auto;
        width: 50%;
        float: none;
        margin-bottom: 10px;
    }

}